.content{
    width: 10rem;
}
.product-series{
    width:8.77rem;
    margin:0 auto;
}
.product-series h1{
    font-size: 0.333rem;
    font-family: "Microsoft Yahei";
    text-align: center;
    font-weight: normal;
    margin-top: 0.9444rem;
}
.product-series h2{
    font-size: 0.5rem;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
    margin-top: 0.2222rem;
}
.product-series span{
    display: block;
    width:0.8772rem;
    border-bottom: 1px solid #4c4948;
    margin:0 auto;
    margin-top: 0.3472rem;
}
.product-series h3{
    font-size: 0.1944rem;
    font-family: "Swiss 721 Thin";
    text-align: center;
    margin-top: 0.2916rem;
    color: #e9e8e8;
    letter-spacing: 0.0694rem;
}
/*four_u部分*/
.four_u{
    width: 100%;
    margin-top: 1.05rem;
}
/*标题部分*/
.text{
    width: 100%;
    margin:1.5rem auto;
    text-align: center;
    color: #4c4948;
    margin-bottom: 0.7rem;
}
.life_c{
    font-family:"Microsoft Yahei";
    font-size: 0.32rem;
    line-height: 0.44rem;
    text-align: center;
}
.life_t{
    margin-top: 0.3rem;
    font-family: "Arial";
    font-size: 0.48rem;
    line-height: 0.44rem;
    font-weight: bold;
}
.life{
    margin-top: 0.3rem;
    font-family: "Myriad Pro";
    font-size:0.19rem;
    line-height: 0.7rem;
    letter-spacing:0.04rem;
    color: #bcbaba;
}
.line{
    margin-top:0.43rem;
    display: inline-block;
    width: 13%;
    height: 1px;
    background: #666;
}
/*one部分的内容*/
.one{
    width: 90%;
    margin: 0 auto;
    font-size: 0.21rem;
}
.one_img{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 0.4rem;
}
.one_page{
    margin: 0.2rem 0;
    width: 95%;
    background-color: #eeeeee;
    padding: 0.2rem;
}
.one_page>p{
    padding: 0.4rem;
    margin: 0 auto;
    border: 1px dotted #666;
    line-height: 0.4rem;
}
.one_content{
    line-height: 0.4rem;
    margin:0.8rem 0;
}
.one mark{
    background-color: #eee;
    padding: 0.13rem;
    font-weight: bold;
}
.one_content p{
    margin: 0.4rem 0;
    box-sizing: border-box;
    padding: 0 0.4rem;
}
/*页脚部分*/
.footer{
    width: 100%;
    height:5.8611rem;
    background: url("../images/footer.jpg") no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid transparent;
}
.footer_text{
    width:7.5rem;
    margin:0 auto;
    margin-top: 2.0833rem;
}
.footer_text>h3{
    font-size: 0.3222rem;
    color: #fff;
    text-align: left;
    font-weight: bold;
    line-height: 0.5555rem;
}
.footer_text>.footer_z{
    font-size: 0.3055rem;
    color: #fff;
    text-align: left;
    line-height: 0.4166rem;
    margin-top:0.0694rem;
}
.footer_text>.footer_y{
    font-size: 0.25rem;
    color: #fff;
    text-align: left;
    line-height: 0.375rem;
    margin-top:0.0694rem;
}