.content{
    width: 100%;
}
.content_center{
    width: 990px;
    margin: 0 auto;
}
/*文字部分*/
.text{
    width: 100%;
    margin:0 auto;
    text-align: center;
    color: #4c4948;
}
.life_c{
    padding-top: 117px;
    font-family:"Microsoft Yahei";
    font-size: 24px;
    line-height: 33px;
    letter-spacing:36px;
    text-align: center;
}
.life_t{
    margin-top: 22px;
    font-family: "Arial";
    font-size: 36px;
    line-height: 33px;
}
.life{
    margin-top: 22px;
    font-family: "Myriad Pro";
    font-size: 14px;
    line-height: 55px;
    letter-spacing:3px;
    color: #bcbaba;
}
.line{
    margin-top: 22px;
    display: inline-block;
    width: 60px;
    height: 1px;
    background: #4c4948;
}
/*联系我们*/
.contact{
    width: 990px;
    height: 490px;
    margin: 0 auto;
}
.contact_c{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.contact ul{
    overflow: hidden;
    float: left;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
.contact_c>ul>li{
    margin: 30px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.contact_c>ul>li>dl{
    margin: 10px 0 35px 0;
}
.wy_163{
    line-height: 131px;
    font-size: 18px;
}
.sm{
    overflow: hidden;
}
.server{
    font-size: 18px;
    line-height: 33px;
}
.server_e{
    font-size: 20px;
    line-height: 16px;
    font-family: "Arial";
    font-weight: bold;
    color: #4c4948;
}
.server_t{
    font-size: 36px;
    font-weight: bold;
    font-family: "Arial";
    line-height: 28px;
    color: #4c4948;
}
#erwm{
    float: left;
}
#sao_text{
    float: left;
    text-align: left;
    line-height: 24px;
    font-size: 18px;
}
/*头部样式修改*/
.header-list li.active a{
    border:none;
    padding-right: 15px;
}
.header-list li.active_l a{
    border-left: 1px solid #b32b12;
}